@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Index</h1>
    <p> <a asp-area="" asp-page="/News" ><center>News</center></a></p>
    <p> <a asp-area="" asp-page="/Forums" ><center>Forums</center></a></p>
    <p> <a asp-area="" asp-page="/Accounts"><center>Accounts</center></a></p>
    <p> <a asp-area="" asp-page="/Aboutus" ><center>AboutUs</center></a></p>
</div>
