@page
@model LinkingRazorPages.Pages.NewsModel
@{
}
<div class="text-center">
    <h1 class="display-4">Welcome to News page</h1>
    <p> <a asp-area="" asp-page="/Forums"><center>Forums</center></a></p>
    <p> <a asp-area="" asp-page="/Index"><center>Index</center></a></p>
    <p> <a asp-area="" asp-page="/Accounts"><center>Accounts</center></a></p>
    <p> <a asp-area="" asp-page="/Aboutus"><center>AboutUs</center></a></p>
</div>
